
@model ERP.Models.Workflow


<div class="container customerView col-md-12 col-lg-12 commonPadding">
    <input type="hidden" value="@Model.Identity">
    <div class="row commonPadding col-md-12 col-lg-12" style="padding-bottom:13px;">
        <div class="col-md-6 col-lg-6">
            <div class="row col-md-12 col-lg-12">
                <div class="float-left col-md-5 col-lg-5 textright lablestyles">
                    Name :
                </div>
                <div class="float-right col-md-7 col-lg-7 textleft" style="font-size:13px; font-family:sans-serif; font-weight:normal;">
                    Name
                </div>
            </div>
        </div>

        <div class="col-md-6 col-lg-6 ">
            <div class="row col-md-12 col-lg-12">
                <div class="float-left col-md-4 col-lg-4 textright lablestyles">
                    CreatedBy :
                </div>
                <div class="float-right col-md-8 col-lg-8 textleft" style="font-size:13px; font-family:sans-serif; font-weight:normal;">
                    CreatedBy
                </div>
            </div>
        </div>

    </div>
    <div class="row commonPadding col-md-12 col-lg-12" style="padding-bottom:13px;">

        <div class="col-md-6 col-lg-6 textright">
            <div class="row col-md-12 col-lg-12">
                <div class="float-left col-md-5 col-lg-5 textright lablestyles">
                    Description :
                </div>
                <div class="float-right col-md-7 col-lg-7 textleft" style="font-size:13px; font-family:sans-serif; font-weight:normal;">
                    Description
                </div>
            </div>
        </div>

        <div class="col-md-6 col-lg-6 textleft">
            <div class="row col-md-12 col-lg-12">
                <div class="float-left col-md-4 col-lg-4 textright lablestyles">
                    CreatedDate :
                </div>
                <div class="float-right col-md-8 col-lg-8 textleft" style="font-size:13px; font-family:sans-serif; font-weight:normal;">
                    CreatedDate
                </div>
            </div>
        </div>
    </div>

    <div class="row commonPadding col-md-12 col-lg-12" style="padding-bottom:13px;">

        <div class="col-md-6 col-lg-6 textright">
            <div class="row col-md-12 col-lg-12">
                <div class="float-left col-md-5 col-lg-5 textright lablestyles">
                    Step Owner :
                </div>
                <div class="float-right col-md-7 col-lg-7 textleft" style="font-size:13px; font-family:sans-serif; font-weight:normal;">
                    Owner
                </div>
            </div>
        </div>

        <div class="col-md-6 col-lg-6 textleft">
            <div class="row col-md-12 col-lg-12">
                <div class="float-left col-md-4 col-lg-4 textright lablestyles">
                    Notification Type :
                </div>
                <div class="float-right col-md-8 col-lg-8 textleft" style="font-size:13px; font-family:sans-serif; font-weight:normal;">
                    Notification Type
                </div>
            </div>
        </div>
    </div>

    <div class="row commonPadding col-md-12 col-lg-12" style="padding-bottom:13px;">

        <div class="col-md-6 col-lg-6 textright">
            <div class="row col-md-12 col-lg-12">
                <div class="float-left col-md-5 col-lg-5 textright lablestyles">
                    Additional Notification User :
                </div>
                <div class="float-right col-md-7 col-lg-7 textleft" style="font-size:13px; font-family:sans-serif; font-weight:normal;">
                    Additional Notification User
                </div>
            </div>
        </div>

        <div class="col-md-6 col-lg-6 textleft">
            <div class="row col-md-12 col-lg-12">
                <div class="float-left col-md-4 col-lg-4 textright lablestyles">
                    Dummy :
                </div>
                <div class="float-right col-md-8 col-lg-8 textleft" style="font-size:13px; font-family:sans-serif; font-weight:normal;">
                    Dummy
                </div>
            </div>
        </div>
    </div>

    <div class="row commonPadding">
        <div class="col-md-6 col-lg-5"><input type="button" class="formbutton float-right customerEdit" data-url="@Url.Action("_CustomerEdit", "Customer")" data-identity="1" value="Add/Edit" /></div>
    </div>
</div>