@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="height-100 width-100">
    <div class=" BodyWelcomeText centered">
        Associate Workflows & Steps
    </div>

    <div class="commonPadding height-20">
        <div class="container-fluid col-md-12 col-lg-12 width-100 " style="display:block">
            <div class="container float-left nopadding ">
                <div class="col-md-12 col-lg-12 customerSearchDetials">
                    <div class="col-md-6 col-lg-6 commonPadding">
                        <input type="text" placeholder="Search By Workflow Name" id="customerName" name="CustomerName" class="textboxstyles searchText" style="width:300px;height:27px;" />
                        <input type="hidden" name="customerID" id="customerID" />
                    </div>
                </div>
                <div class="col-md-12 col-lg-12 commonPadding customerSearchDetials">
                    <div class="col-md-6 col-lg-6 float-left">
                        <input type="button" value="Search" data-url="@Url.Action("CustomerSearch", "Customer")" class="formbutton customerSearch" />
                    </div>
                </div>
                <div class="col-md-12 col-lg-12 commonPadding customerSearchDetials">
                    <div class="col-md-6 col-lg-6 float-left">
                        <label>Workflow Details</label>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="commonPadding height-20">
        <div class="container-fluid col-md-12 col-lg-12 width-100 " style="display:block">
            <div class="container float-left nopadding ">
                <div class="col-md-12 col-lg-12 customerSearchDetials">
                    <div class="col-md-6 col-lg-6 commonPadding">
                        <input type="text" placeholder="Search By Step Name" id="customerName" name="CustomerName" class="textboxstyles searchText" style="width:300px;height:27px;" />
                        <input type="hidden" name="customerID" id="customerID" />
                    </div>
                    <div class="col-md-6 col-lg-6 float-left">
                        <input type="button" value="Search" data-url="@Url.Action("CustomerSearch", "Customer")" class="formbutton customerSearch" />
                    </div>
                </div>
                <div class="col-md-12 col-lg-12 commonPadding customerSearchDetials">
                    <div class="col-md-6 col-lg-6 float-left">
                        <label>Step Details</label>
                    </div>
                    <div class="col-md-6 col-lg-6 float-left">
                        <input type="button" value="Add Step" data-url="@Url.Action("CustomerSearch", "Customer")" class="formbutton customerSearch" />
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="resultView height-60" id="resultView">
        @{Html.RenderAction("_StepsAll", "WorkflowManager");}
    </div>
</div>

