@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="height-100 width-100">
    <div class=" BodyWelcomeText centered">
        Manage Workflows
    </div>

    <div class="commonPadding height-20">
        @{Html.RenderPartial("_WorkflowAdd");}
    </div>
    <div class="resultView height-80" id="resultView">
        @{Html.RenderAction("_WorkflowsAll", "WorkflowManager");}
    </div>
</div>