body {
    margin: 0;
    
   
}

.nopadding {
    padding-right: 0px;
    padding-left: 0px;
    padding-bottom: 0px;
    padding-top: 0px;
    margin-left:0px;
    margin-top:0px;
    margin-right:0px;
    margin-bottom:0px;
}
.width-30 {
    width: 3%;
}
.width-100 {
    width:100%;
}
.height-100 {
    height: 100vh
}
.heightper-100 {
    height: 100%
}
.height-83 {
    height: 83%
}
.height-80 {
    height: 80%
}
.height-80vh {
    height: 80vh
}
.height-78 {
    height: 78%
}
.height-75 {
    height: 75%
}
.height-70 {
    height: 70%
}

.height-60 {
    height: 60%
}

.height-50 {
    height: 50%
}


.height-40 {
    height: 40%
}

.height-35 {
    height: 35%
}
.height-33 {
    height: 33%
}
.height-30 {
    height: 30%
}

.height-23 {
    height: 23%
}

.height-20 {
    height: 20%
}
.height-20vh {
    height: 20vh
}
.height-15 {
    height: 15%
}
.height-13 {
    height: 13%
}
.height-10 {
    height: 10%
}
.height-7 {
    height: 7%
}
.highlightSection {
    
    border:1px thin #F9A526 ;
}

.verticalcenter {
    vertical-align: middle;
}
.lightblue {
    background-color: #36A4C0;
}

.sandcolor {
    background-color:#EAD1B2;
}
.whitefont {
    color: white;
    font-family: 'BenchNine-Bold', sans-serif;
    font-size:12px;
    font-weight:bold;
}
.welcomestyle {
    font-family: 'Playball', Cursive;
    color: #565656;
    font-size: 17px;
}
.footerstyle {
    font-family: 'BenchNine-Bold', sans-serif;
    color: #D59D63;
    font-size: 13px;
}
.centre {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
    padding-top:5%;
}


.neutralizeRow{
    padding-right:15px!important;
    padding-left:15px !important;
}

.commonPadding{
    padding-top:1%;
    padding-bottom:1%;
}

a.ForgetPwd {
    font-family: 'BenchNine-Bold', sans-serif;
    font-size: 13px;
    font-weight: bold;
    text-decoration: none;
    cursor: pointer;
    color: #D59D63;
}

    a.ForgetPwd:hover {
        font-family: 'BenchNine-Bold', sans-serif;
        font-size: 13px;
        font-weight: bold;
        text-decoration: underline;
        color: #8F3F2F;
    }

#roundcornerbox {
    border: 2px solid #EAD1B2;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    background-color: #EAD1B2;
}

.formbutton {
    border: 2px thick black;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    text-align: center;
    font-family: Oswald; /*font-size: 13px;*/
    font-weight: bold;
    font-size: 12px;
    min-width: 80px;
    color: white;
    background-color: #8A7B69;
    cursor: pointer;
}

.centered {
    display: flex;
    flex-direction: row !important;
    align-content: center !important;
    justify-content: center !important;
    align-self: center !important;
    align-items: center !important;  
    
}
.textboxstyles {
    font-family: 'BenchNine-Bold', sans-serif;
    font-size: 13px;
    border: 1px solid #D59D63;
    height: 20px;
   
}
.textboxlargewidth {
    
    width: 400px;
}
.textareastyles {
    font-family: 'BenchNine-Bold', sans-serif;
    font-size: 13px;
    border: 1px solid #D59D63;
    
}

.dropdownstyles {
    font-family: 'BenchNine-Bold', sans-serif;
    font-size: 13px;
    border: 1px solid #D59D63;
    width :220px;
    height:30px;
}

.lablestyles {
    /*font-family: Oswald;*/
    font-family: 'Ropa Sans', sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: #7B947A;
}
.lablecontentstyles {
   
    font-size: 13px;
    
}
.pointer{
    cursor:pointer;
}
.logintextboxstyles {
    font-family: 'BenchNine-Bold', sans-serif;
    font-size: 13px;
    border: 1px solid #D59D63;
   
}
.textright {
    text-align: right;
}
.textleft {
    text-align: left;
}
.textcentre {
   
    text-align: center;
}

.bodymaxwidth {
   max-width:1356px;
  
}

.bodymaxheight {
    height:100vh;
    max-height: 40vh;
}

.contentmaxheight {
    height: 78vh;
    max-height: 80vh;
}
.HeaderText {
    /*background: #c2c2c2;
    line-height: 22px;*/
    font-family: Oswald; /*font-size: 13px;*/
    padding-left: 2px; /*text-transform: uppercase;*/
    font-weight: bold;
    font-size: 14pt;
    color: #565656; /* border-bottom: 1px solid #c0c0c0;*/
}
.BodyWelcomeText {
    /*background: #c2c2c2;
    line-height: 22px;*/
    font-family: Oswald; /*font-size: 13px;*/
    font-weight: bold;
    font-size: 14pt;
    color: #D59D63; /* border-bottom: 1px solid #c0c0c0;*/
}




a.dropdown-item:hover {
    font-family: 'BenchNine-Bold', sans-serif;
    font-size: 12px;
    text-decoration: none;
    color: #CA5100;
    background-color: none;
}
a.menulink {
    color: white;
    font-family: 'BenchNine-Bold', sans-serif;
    font-size: 12px;
    text-decoration: none;
    cursor: pointer;
}

    a.menulink:hover {        
        font-family: 'BenchNine-Bold', sans-serif;
        font-size: 12px;
        text-decoration: none;
        color: #CA5100;
        background-color:none;
    }

.gridheader {
    font-family: 'BenchNine-Bold', sans-serif;
    font-size: 13px;
    text-decoration: none;
    color: white;
    /*background-color: #8A7B69;
    border: 1px thick #8A7B69;*/
    background-color: #565656;
    border: 1px thick #565656;
    ;
    text-align: center;
    line-height: 10px;
}
.gridrow {
    font-family: 'BenchNine-Bold', sans-serif;
    font-size: 13px;
    text-decoration: none;
    text-align: center;
    color: black;
    border: 1px solid #565656;
    border-bottom: 1px solid #565656;
}
.gridedit {
   
    background-image: url('green.gif');

}

.padding-bottom-10{

    padding-bottom:10px;
}

.padding-bottom-7 {
    padding-bottom: 7px;
}

a:hover, a:focus {
    outline: none;
    text-decoration: none;
}

.tab .nav-tabs {
    position: relative;
    border-bottom: none;
}

    .tab .nav-tabs li {
        margin: 0;
    }

        .tab .nav-tabs li a {
            display: block;
            padding: 8px 8px;
            background: #fff;
            font-size: 12px;
            font-weight: 400;
            color: #2E001F;
            text-transform: uppercase;
            text-align: center;
            border-radius: 0;
            border: none;
            margin-right: 0;
            overflow: hidden;
            z-index: 1;
            position: relative;
            transition: all 0.3s ease 0s;
            border-top-right-radius: 10px;
            border-top-left-radius: 10px;
           
        }

            .tab .nav-tabs li a:after {
                content: "";
                width: 100%;
                height: 100%;
                background: #e9e9e9;
                position: absolute;
                top: 0;
                left: 0;
                z-index: -1;
                perspective-origin: 50% 100%;
                transform: perspective(900px) rotate3d(1, 0, 0, 90deg);
                transform-origin: 50% 100% 0;
                transition: transform 0.3s ease 0s, background-color 0.3s ease 0s;
            }

        .tab .nav-tabs li.active a:after {
            background: #DEB183;
            transform: perspective(900px) rotate3d(1, 0, 0, 0deg);
        }

        .tab .nav-tabs li.active a,
        .tab .nav-tabs li a:hover {
            color: #2E001F;
            border: none;
        }

.tab .tab-content {
    padding: 20px;
    background: white;
    font-size: 15px;
    color: #757575;
    line-height: 26px;
    border: 2px solid #EAD1B2;
    width:700px;
    background-color: white;
}

    .tab .tab-content h3 {
        font-size: 24px;
        margin-top: 0;
    }

@media only screen and (max-width: 679px) {
    .tab .nav-tabs li {
        width: 100%;
        text-align: center;
    }
}
