@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="height-100 width-100">
    <div class=" BodyWelcomeText centered">
        Manage Workflows
    </div>
    <div>
        <form action="/WorkflowManager/InitiateWorkflow" method="get">
            <input type="submit" value="Initiate Workflow" name="Submit" id="initiateWorkflow" />
        </form>
    </div>

    <div class="commonPadding height-30">
        @{Html.RenderPartial("_WorkflowAdd");}
    </div>
    <div class="resultView height-80" id="resultView">
        @{Html.RenderAction("_WorkflowsAll", "WorkflowManager");}
    </div>
</div>