@{
Layout = "~/Views/Shared/_LayoutStatic.cshtml";
}
@using (Html.BeginForm("Index", "Login", FormMethod.Post))
    {
<div  style="vertical-align:middle;">
   <div class=" height-15"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-lg-12">
                <div class="form-group ">
                    <input type="text" name="UserName" class="form-control logintextboxstyles" style="max-width:280px" placeholder="Your Email *" value="" required="required" />

                </div>
            </div>

        </div>
        <div class="row">
            <div class="col-md-12 col-lg-12">
                <div class="form-group">

                    <input type="password" name="Password" class="form-control logintextboxstyles" style="width:280px" placeholder="Your Password *" value="" required="required" />

                </div>
            </div>

        </div>
        <div class="row">
            <div class="col-md-12 col-lg-12">
                <div class="col-md-8 col-lg-8 form-group" style="vertical-align:middle;text-align:right;">
                    <input type="submit" class="formbutton" value="Login" />
                </div>
            </div>

        </div>
        <div class="row">
            <div class="col-md-12 col-lg-12">
                <div class="form-group ">

                    <a href="#" class="ForgetPwd">Forget Password?</a>

                </div>
            </div>

        </div>
    </div>

</div>      
              
  }


