@model System.Web.Mvc.HandleErrorInfo

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
    <h2>An error occurred while processing your request.</h2>
</div>

<div class="" style="background:khaki">
    <p>
        <b>Exception:</b> @Model.Exception.Message <br />
        <b>Controller:</b> @Model.ControllerName <br />
        <b>Action:</b> @Model.ActionName <br />
    </p>
    @*<div>
        <pre>
                @Model.Exception.StackTrace
            </pre>
    </div>*@
</div>