@model BusinessModels.Customer 

<div class="container">
    <div class="row">
        <div class="col-md-6 col-lg-6"><div class="float-left col-md-4 col-lg-4">Name</div><div class="float-right col-md-8 col-lg-8"><input type="text" placeholder="Enter Name"/></div></div>
        <div class="col-md-6 col-lg-6"><div class="float-left col-md-4 col-lg-4">Profession</div><div class="float-right col-md-8 col-lg-8"><input type="text" placeholder="Enter Profession"/></div></div>
    </div>
    <div class="row">
        <div class="col-md-6 col-lg-6"><div class="float-left col-md-4 col-lg-4">Location</div><div class="float-right col-md-8 col-lg-8"><input type="text" placeholder="Enter Location"/></div></div>
        <div class="col-md-6 col-lg-6"><div class="float-left col-md-4 col-lg-4">Address</div><div class="float-right col-md-8 col-lg-8"> <input type="text" placeholder="Enter Address"/></div></div>
    </div>
    <div class="row">
        <div class="col-md-6 col-lg-6"><div class="float-left col-md-4 col-lg-4">Email ID</div><div class="float-right col-md-8 col-lg-8"><input type="text" placeholder="Enter Email"/></div></div>
        <div class="col-md-6 col-lg-6"><div class="float-left col-md-4 col-lg-4">Purpose</div><div class="float-right col-md-8 col-lg-8"><input type="text" placeholder="Enter Purpose"/></div></div>
    </div>
    <div class="row">
        <div class="col-md-6 col-lg-6"><div class="float-left col-md-4 col-lg-4">Quantity (sqft)</div><div class="float-right col-md-8 col-lg-8"><input type="text" placeholder="Enter Quantity"/></div></div>
    </div>
    <div class="row">
        <div class="col-md-6 col-lg-6 float-left"><input type="button" value="Update/Add"/></div>
    </div>
</div>