
<div class="container-fluid col-md-8 col-lg-8">
    <div class="float-left">    
        <input type="text" placeholder="Enter Customer Name"/>

        <input type="button" value="Search"/>
    </div>
    <div class="float-right">
        <input type="button" value="Add Customer"/>
    </div>
</div>
