
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="height-100 width-100">
    <div class="BodyWelcomeText centered headermode">
        @TempData["PageInfo"]
    </div>

    <div class="commonPadding height-10">
        @{Html.RenderPartial("_CountrySearch");}
    </div>
    <div>
        @ViewData["ActionUpdate"]
    </div>
    <div class="resultView height-90">
        @{Html.RenderAction("_CountryAll", "Country");}
    </div>

</div>

