@{
Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="height-100 width-100">
    <div class=" BodyWelcomeText centered">
        Customer Info
    </div>

    <div class="commonPadding height-10">
        @{Html.RenderPartial("_CustomerSearch");}
    </div>
    <div>
        @ViewData["ActionUpdate"]
    </div>
    <div class="resultView height-90" id="resultView">
        @{Html.RenderAction("_CustomerAll", "Customer");}
    </div>

</div>

