@{
Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="height-100">
    @ViewData["ActionUpdate"]
    <div class="commonPadding height-10">
        @{Html.RenderPartial("_CustomerSearch");}
    </div>

    <div class="resultView height-90">
        @{Html.RenderAction("_CustomerAll", "Customer");}
    </div>
    
</div>

