
<div class="container-fluid col-md-12 col-lg-12 width-100 " style="display:block">
    <div class="container float-left nopadding ">
        <div class="col-md-12 col-lg-12 commonPadding DistrictSearchDetials">
            <div class="col-md-6 col-lg-6 ">
                <span class="BodyWelcomeText">Search Options</span>
            </div>
            <div class="col-md-6 col-lg-6">
                <div class="col-md-12 col-lg-12">
                    <div class="float-left col-lg-6 commonPadding">
                        <input type="text" placeholder="Search By District Name" class="textboxstyles" style="width:300px;height:27px;" />
                    </div>

                    <div class="float-right col-md-5 col-lg-5 commonPadding" >
                        <input type="text" placeholder="Search By Region Name" class="textboxstyles" style="width:300px;height:27px;padding-left:20px;" />
                    </div>
                </div>
             </div>

            </div>

        <div class="col-md-12 col-lg-12 commonPadding DistrictSearchDetials">            
            <div class="col-md-6 col-lg-6 commonPadding">
                <div class="col-md-12 col-lg-12">
                    <div class="float-left col-md-7 col-lg-6 ">
                        <input type="text" placeholder="Search By Country Name" class="textboxstyles" style="width:300px;height:27px;" />
                    </div>
                    <div class="float-right col-md-5 col-lg-5 " ><input type="text" placeholder="Search By State Name" class="textboxstyles" style="width:300px;height:27px; padding-left:20px;" /></div>
                    </div>


                </div>

            </div>

        <div class="col-md-12 col-lg-12 commonPadding DistrictSearchDetials">
            
            <div class="col-md-7 col-lg-7 commonPadding textright">              
                <input type="button" value="Search" data-url="@Url.Action("DistrictSearch", "District")" class="formbutton DistrictSearch" />
            </div>
        </div>

            <div class="col-md-12 col-lg-12 commonPadding " style="text-align:right">
                <input type="button" value="Add District" data-url="@Url.Action("_DistrictEdit", "District")" data-identity="-1" class="formbutton DistrictAdd" />
            </div>

        </div>


    </div>
