
<div class="container col-md-12 col-lg-12 width-100">
    <div class="col-md-12 col-lg-12">
        <div class="col-md-6 col-lg-6 commonPadding">
            <span class="BodyWelcomeText">Search Options</span>
        </div>
    </div>
    <div class="col-md-12 col-lg-12">

        <div class="col-md-6 col-lg-6 commonPadding">
            <input type="text" placeholder="Search By UOM Name" class="textboxstyles" style="width:300px;height:27px;" />


        </div>
    </div>
    <div class="col-md-12 col-lg-12">
        <div class="col-md-4 col-lg-4 commonPadding textleft">
            <input type="button" value="Search" data-url="@Url.Action("UOMMasterSearch", "UOMMaster")" class="formbutton UOMMasterSearch" />
        </div>
    </div>
    <div class="col-md-12 col-lg-12 commonPadding" style="text-align:right">
        <input type="button" value="Add UOMMaster" data-url="@Url.Action("_UOMMasterEdit", "UOMMaster")" data-identity="-1" class="formbutton UOMMasterAdd" />
    </div>

</div>
