@model List<IGrouping<string, ERP.Models.Menu>>
    <div class="sandcolor">
        <nav class="navbar">
            <!-- Links -->
            <ul class="navbar-nav">
                @foreach (var grp in Model)
                {
                <li class="nav-item" id="lidashboard">
                    <a id="aDashboard" class="whitefont" href="#">@grp.Key</a>
                    <div class="navbar-toggle">
                        @foreach (var menu in grp)
                        {
                        <a class="dropdown-item whitefont" style="width:190px;" href=@menu.URL>@menu.Name</a>
                        }
                    </div>
                </li>
                }
            </ul>
        </nav>
    </div>
