<div class="sandcolor">
    
   
    <nav class="navbar">
        <!-- Links -->       

        <ul class="navbar-nav">
            <li class="nav-item" id="lidashboard">
                <a id="aDashboard" class="whitefont" href="#">DashBoard</a>
                <div class="navbar-toggle">
                    <a class="dropdown-item whitefont" style="width:190px;" href="/WorkflowDashboard/Inbox">Inbox</a>                   
                </div>
            </li>
            <li class="nav-item" id="lisales">
                <a id="achCustomer" class="whitefont" href="#">Sales</a>
                <div class="navbar-toggle">
                    <a class="dropdown-item whitefont" href="/PendingCustomerInfo/Index" style="width:190px;">Pending Customer Info</a>
                    <a class="dropdown-item whitefont" href="/ProductEnquiry/Index" style="width:190px;">Product Enquiry</a>
                    <a class="dropdown-item whitefont" href="/SalesQuotation/Index" style="width:190px;">Quotation</a>
                    <a class="dropdown-item whitefont" href="/SalesQuotation/Index" style="width:190px;">Sales Return</a>
                    @*<a class="dropdown-item whitefont" href="/SalesPendingApprovals/Index" style="width:190px;">Pending Approvals</a>*@
                    <a class="dropdown-item whitefont" href="#" style="width:190px;">Reports</a>
                    @*<div id="divsales" class="navbar-toggle">
                    <a class="dropdown-item whitefont" href="#">Customer Addresses And Contacts</a>
                    <a class="dropdown-item whitefont" href="#">Ordered Items To Be Delivered</a>
                    <a class="dropdown-item whitefont" href="#">Sales Person-wise Transaction Summary</a>
                    <a class="dropdown-item whitefont" href="#">Item-wise Sales History</a>
                    <a class="dropdown-item whitefont" href="#">Inactive Customers</a>
                    <a class="dropdown-item whitefont" href="#"> Pending SO Items For Purchase Request</a>
                </div>*@
                </div>
            </li>

            <li class="nav-item" id="lipurchase">
                <a id="achCustomer" class="whitefont" href="#">Purchase</a>
                <div class="navbar-toggle">
                    <a class="dropdown-item whitefont" style="width:190px;" href="/PurchaseRequest/Index">Purchase Request</a>
                    <a class="dropdown-item whitefont" style="width:190px;" href="/SupplierQuotation/Index">Quotation</a>
                    <a class="dropdown-item whitefont" style="width:190px;" href="/PurchaseOrder/Index">Purchase Order</a>
                    <a class="dropdown-item whitefont" style="width:190px;" href="/PurchaseOrder/Index">Purchase Return</a>
                    @*<a class="dropdown-item whitefont" style="width:190px;" href="/PurchasePendingApprovals/Index">Pending Approvals</a>
                <a class="dropdown-item whitefont" style="width:190px;" href="/PendingPRVerification/Index">Pending Verifications</a>*@
                    <a class="dropdown-item whitefont" style="width:190px;" href="#">Reports</a>
                    @*<div id="divsales" class="navbar-toggle">
                    <a class="dropdown-item whitefont" href="#">Customer Addresses And Contacts</a>
                    <a class="dropdown-item whitefont" href="#">Ordered Items To Be Delivered</a>
                    <a class="dropdown-item whitefont" href="#">Sales Person-wise Transaction Summary</a>
                    <a class="dropdown-item whitefont" href="#">Item-wise Sales History</a>
                    <a class="dropdown-item whitefont" href="#">Inactive Customers</a>
                    <a class="dropdown-item whitefont" href="#"> Pending SO Items For Purchase Request</a>
                </div>*@
                </div>
            </li>

            <li class="nav-item" id="liwarehouse">
                <a id="achCustomer" class="whitefont" href="#">Warehouse</a>
                <div class="navbar-toggle">
                    <a class="dropdown-item whitefont" style="width:190px;" href="/Stocks/Index">Stock</a>
                    <a class="dropdown-item whitefont" style="width:190px;" href="/StockIn/Index">Stock In</a>
                    <a class="dropdown-item whitefont" style="width:190px;" href="/StockOut/Index">Stock Out</a>
                    <a class="dropdown-item whitefont" style="width:190px;" href="/StockReturn/Index">Stock Return</a>
                    <a class="dropdown-item whitefont" style="width:190px;" href="/StockTransfer/Index">Stock Transfer</a>
                    <a class="dropdown-item whitefont" style="width:190px;" href="/DeadStock/Index">Dead Stock</a>
                    <a class="dropdown-item whitefont" style="width:190px;" href="/StocksShortage/Index">Stock Shortage</a>
                    <a class="dropdown-item whitefont" style="width:190px;" href="#">Reports</a>
                    @*<div id="divsales" class="navbar-toggle">
                    <a class="dropdown-item whitefont"   href="#">Suppler Address and Contacts</a>
                    <a class="dropdown-item whitefont" href="#">Itemwise Stock In Report</a>
                    <a class="dropdown-item whitefont" href="#">Item shipped as per SO</a>
                    <a class="dropdown-item whitefont" href="#">Item-wise Sales History</a>
                </div>*@
                </div>
            </li>

            <li class="nav-item" id="lisales">
                <a id="achCustomer" class="whitefont" href="#">Administration</a>
                <div class="navbar-toggle">
                    <a class="dropdown-item whitefont" style="width:190px;" href="/Customer/Index">Customer Info</a>
                    <a class="dropdown-item whitefont" href="/OfficeExpense/Index" style="width:190px;">Details of Expenses</a>
                    <a class="dropdown-item whitefont" href="/SalesQuotation/Index" style="width:190px;">Office Stationary</a>
                    <a class="dropdown-item whitefont" href="/CallCenter/Index" style="width:190px;">Call Center</a>
                    <a class="dropdown-item whitefont" href="/SalesPendingApprovals/Index" style="width:190px;">Pending Approvals</a>
                    <a class="dropdown-item whitefont" href="#" style="width:190px;">Reports</a>
                    @*<div id="divsales" class="navbar-toggle">
                    <a class="dropdown-item whitefont" href="#">Customer Addresses And Contacts</a>
                    <a class="dropdown-item whitefont" href="#">Ordered Items To Be Delivered</a>
                    <a class="dropdown-item whitefont" href="#">Sales Person-wise Transaction Summary</a>
                    <a class="dropdown-item whitefont" href="#">Item-wise Sales History</a>
                    <a class="dropdown-item whitefont" href="#">Inactive Customers</a>
                    <a class="dropdown-item whitefont" href="#"> Pending SO Items For Purchase Request</a>
                </div>*@
                </div>
            </li>
            <li class="nav-item" id="limaster">
                <a id="achCustomer" class="whitefont" href="#">Master</a>
                <div class="navbar-toggle">
                    <a class="dropdown-item whitefont" style="width:190px;" href="/Region/Index">Region</a>
                    <a class="dropdown-item whitefont" style="width:190px;" href="/Country/Index">Country</a>

                    <a class="dropdown-item whitefont" style="width:190px;" href="/State/Index">State</a>
                    <a class="dropdown-item whitefont" style="width:190px;" href="/District/Index">District</a>
                    <a class="dropdown-item whitefont" style="width:190px;" href="/Location/Index">Location</a>
                    <a class="dropdown-item whitefont" style="width:190px;" href="/Company/Index">Company</a>
                    <a class="dropdown-item whitefont" style="width:190px;" href="/CompanyType/Index">Company Type</a>
                    <a class="dropdown-item whitefont" style="width:190px;" href="/FloorMaster/Index">Floor Setup</a>
                    <a class="dropdown-item whitefont" style="width:190px;" href="/ProductMaster/Index">Product Master</a>
                    <a class="dropdown-item whitefont" style="width:190px;" href="/Vendor/Index">Vendor</a>
                    <a class="dropdown-item whitefont" style="width:190px;" href="/Brand/Index">Brand</a>

                    <a class="dropdown-item whitefont" style="width:190px;" href="/PurchaseRequestType/Index">Purchase Request Type</a>
                    <a class="dropdown-item whitefont" style="width:190px;" href="/SalesRoleType/Index">Sales Category</a>
                    <a class="dropdown-item whitefont" style="width:190px;" href="/IdentificationsType/Index">Identfication Type</a>
                    @*<a class="dropdown-item whitefont" style="width:190px;" href="/RoleType/Index">Role Type</a>
                <a class="dropdown-item whitefont" style="width:190px;" href="/RoleMaster/Index">Role Master</a>*@

                    <a class="dropdown-item whitefont" style="width:190px;" href="/UOMMaster/Index">UOM Master</a>
                    <a class="dropdown-item whitefont" style="width:190px;" href="/ItemMaster/Index">Item Master</a>
                    <a class="dropdown-item whitefont" style="width:190px;" href="/LocalSupplier/Index">Local Supplier</a>
                    <a class="dropdown-item whitefont" style="width:190px;" href="/Discount/Index">Discount</a>
                    <a class="dropdown-item whitefont" style="width:190px;" href="/ExpenseType/Index">Expense Type</a>
                    <a class="dropdown-item whitefont" style="width:190px;" href="/Tax/Index">Tax</a>
                    <a class="dropdown-item whitefont" style="width:190px;" href="/Warranty/Index">Warranty</a>
                    @*<a class="dropdown-item whitefont" style="width:190px;" href="/ItemMaster/Index">Purchase Role Type</a>*@
                    @*<a class="dropdown-item whitefont" style="width:190px;" href="/ItemMaster/Index">Role Manager Mapping</a>*@
                    @*<a class="dropdown-item whitefont" style="width:190px;" href="/ItemMaster/Index">Role Escalation Setup</a>*@
                    <a class="dropdown-item whitefont" style="width:190px;" href="/Header/Index">Header Logo Setup</a>



                </div>
            </li>
            <li class="nav-item" id="lihr">
                <a id="achCustomer" class="whitefont" href="#">HR</a>
                <div class="navbar-toggle">
                    <a class="dropdown-item whitefont" style="width:190px;" href="/Employee/Index">Employee Master</a>
                </div>
            </li>
            <li class="nav-item" id="liwarehouse">
                <a id="achCustomer" class="whitefont" href="#">Workflow Management</a>
                <div class="navbar-toggle">
                    <a class="dropdown-item whitefont" style="width:190px;" href="/WorkflowManager/ManageWorkflows">Manage Workflows</a>
                    <a class="dropdown-item whitefont" style="width:190px;" href="/WorkflowManager/ManageSteps">Manage Steps</a>
                    <a class="dropdown-item whitefont" style="width:190px;" href="/WorkflowManager/AssociateWorkflowAndSteps">Associate Workflow and Steps</a>
                </div>
            </li>
            <li class="nav-item" id="lihr">
                <a id="achCustomer" class="whitefont" href="#">HR</a>
                <div class="navbar-toggle">
                    <a class="dropdown-item whitefont" style="width:190px;" href="/Employee/Index">Employee Master</a>
                </div>
            </li>

        </ul>    
        
    </nav>
</div>